
.container {
  position: relative;
  top: 75px;
  width: 100%;
}

.right {
	width: 600px;
	opacity: 0.5;
	padding: 15px;
	background-color: #000000;
	color: #FFFFFF;
	width: 70%;
	border-radius: 10px;
	position: relative;
	top: 0px;
	left: 5px;
}

.hidden {
	display: none;
}

header {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Playfair Display SC', serif;
}

button {
	zoom: 1;
	opacity: 0.5;
	padding: 15px;
	background-color: #000000;
	color: #FFFFFF;
	width: 150px;
  	height: 75px;
  	border-radius: 15px;
  	box-shadow: 0px 0px 40px rgba(0,0,0,0.15);
  	margin: 5px;
}

.b-text {
  font-family: Helvetica;
  font-size: 8pt;
}

#clickme, #clickme1, #clickme2, #clickme3, #clickme4, #clickme5 {
	display: inline;
	position: relative;
	top: 500px;
}